[submodule "olfaction_drivers"]
	path = olfaction_drivers
	url = git@github.com:MAPIRlab/hw_drivers_olfaction.git
[submodule "ouster-ros"]
	path = ouster-ros
	url = git@github.com:MAPIRlab/ouster-ros.git
[submodule "hunter_ros"]
	path = hunter_ros
	url = git@github.com:mapir-uma/hunter_ros.git
