[submodule "olfaction_drivers"]
	path = olfaction_drivers
	url = git@github.com:MAPIRlab/hw_drivers_olfaction.git
[submodule "ouster-ros"]
	path = ouster-ros
	url = git@github.com:MAPIRlab/ouster-ros.git
